<h2>Total Results: <%= @facade.total_results %></h2>
<% @facade.foods.each do |food| %>
  <ul class="food">
    <li class="code">UPC Code: <%= food.code %></li>
    <li class="description">Description: <%= food.description %></li>
    <li class="brand">Brand: <%= food.brand %></li>
    <li class="ingredients">Ingredients: <%= food.ingredients %></li>
  </ul><br>
<% end %>